<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 class="brand-heading">Edward St Paul</h1>
            <p class="intro-text">Freelance Cinematographer based in London<br></p>
            <!-- Link to showreel here -->
            <a ng-click="openPopUp()" class="btn btn-circle">
              <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>
    </div>
</div>
