/*Links*/

@import url(application.css);
@import url(bootstrap.css);
@import url(bootstrap.min.css);
@import url(carousel.css);
@import url(custom-ng-dialog.css);
@import url(header.css);
@import url(load-more.css);
@import url(mosiac.css);
@import url(nav-bar.css);
@import url(ng-dialog-theme-default.css);
@import url(ng-dialog.css);
@import url(w3.css);

/*Main*/

html {
  width: 100%;
  height: auto;
}

body {
  width: 100%;
  height: 100%;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: black;
  background-color: #fff;
  margin: 0px;
}

h1,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

a {
  color: black;
  font-family: Lato;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}

p {
  color: #fff;
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media(min-width:768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

/*Contact*/

.btn {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  color: black;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media(max-width:1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media(max-width:767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

/*Footer*/

footer {
  padding: 10px 0;
  background-color: black;
  opacity: 0.8;
}

footer p {
  font-family: Lato;
  margin: 0;
}
