/*Mosiac*/

#projects {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-top: 4em;
}

.w3-col{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.w3-col li{
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.w3-col li:hover .caption{
  opacity: 1;
}

.w3-col img{
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.w3-col .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition:all 1s ease-in-out;
  -moz-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  -ms-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;
}


/*Laptop*/
@media screen and (min-width: 768px) and (max-width: 1500px) {

}

/*iPad*/
@media screen and (max-height: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*Small Screens*/
@media screen and (min-width: 600px) and (max-width: 767px) {

}

/*Smart Phone*/
@media screen and (max-width: 600px) {

}

/*Mosiac Sort*/
#sort {
  position: relative;
  margin-bottom: 1%;
  font-size: 110%;
  text-align: center;
  font-family: Montserrat;
  text-transform: uppercase;
}

.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

/*Mosiac Images*/
.image-hover * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.image-hover {
  overflow: hidden;
}

.img-zoom-in img {
  transition: all 500ms ease-in;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 500ms;
  -moz-transition-timing-function: ease-in;
  -moz-transition-duration: 500ms;
  -ms-transition-timing-function: ease-in;
  -ms-transition-duration: 500ms;
  -o-transition-timing-function: ease-in;
  -o-transition-duration: 500ms;
}

.img-zoom-in:hover img {
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -o-transform: scale(1.01);
  opacity: 0.6;
  /*-webkit-filter: brightness(120%);
  -moz-filter: brightness(120%);
  -ms-filter: brightness(120%);
  -o-filter: brightness(120%);*/
}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  .wider .grid {
    max-width: 1180px;
    margin: 0 auto;
  }
}
