/*Mosiac*/

#projects {
  width: 100%;
  height: 100%;
  padding: 0;
  /*margin: -100px 0 0 0;*/
}

.w3-col{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.w3-col li{
  float: left;
  padding: 0px;
  position: relative;
  overflow: hidden;
}

.w3-col li:hover .caption{
  opacity: 1;
}

.w3-col img{
  margin: 0px;
  padding: 0px;
  float: left;
  z-index: 4;
}

.w3-col .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  -webkit-transition:all 1s ease-in-out;
  -moz-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  -ms-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;

}

.w3-col .caption-text h2 {
  text-align: center;
  font-size: 20px;
  font-size: 2vw;
  margin-top: 12%;
  font-family: Lato;
}

.w3-col .caption-text h2 span {
  font-weight: bold;
}

.w3-col .caption-text p {
  text-align: center;
  font-size: 10px;
  font-size: 1.1vw;
  margin-top: -3%;
  font-family: Lato;
}

.w3-col .caption-text {
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
}

.loadMoreWrap {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  position: relative;
}


/*Laptop*/
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .w3-col .caption-text p {
    margin-top: -7%;
  }
}

/*iPad*/
@media screen and (max-height: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .w3-col .caption {
    opacity: 1;
  }
}

/*Small Screens*/
@media screen and (min-width: 600px) and (max-width: 767px) {
  .w3-col .caption {
    opacity: 1;
  }
  .w3-col .caption-text h2 {
    font-size: 20px;
    font-size: 2.3vw;
  }
  .w3-col .caption-text p {
    font-size: 10px;
    font-size: 1.6vw;
    margin-top: -7%;
  }
  #sort h1 {
    font-size: 30px;
  }
  hr {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

/*Smart Phone*/
@media screen and (max-width: 600px) {
  .w3-col .caption {
    opacity: 1;
  }
  .w3-col .caption-text h2 {
    font-size: 6vw;
    margin-top: 14%;
  }
  .w3-col .caption-text p {
    font-size: 3.5vw;
    margin-top: -3%;
  }
  #sort h1 {
    font-size: 25px;
  }
  hr {
    margin-top: 5%;
    margin-bottom: 4%;
  }
}

/*Mosiac Sort*/
#sort {
  position: relative;
  margin-bottom: 1%;
  font-size: 110%;
  text-align: center;
  font-family: Montserrat;
  text-transform: uppercase;
}

.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

/*Mosiac Images*/
.image-hover * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.image-hover {
  overflow: hidden;
}

.img-zoom-in img {
  transition: all 1000ms ease-in;
  -webkit-transition-timing-function: ease-in;
  -webkit-transition-duration: 1000ms;
  -moz-transition-timing-function: ease-in;
  -moz-transition-duration: 1000ms;
  -ms-transition-timing-function: ease-in;
  -ms-transition-duration: 1000ms;
  -o-transition-timing-function: ease-in;
  -o-transition-duration: 1000ms;
}

.img-zoom-in:hover img {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  filter: brightness(40%) grayscale(10%);
  -webkit-filter: brightness(40%) grayscale(10%);
  -moz-filter: brightness(40%) grayscale(10%);
  -ms-filter: brightness(40%) grayscale(10%);
  -o-filter: brightness(40%) grayscale(10%);
}

/* Expand the wrap a bit further on larger screens */
@media screen and (min-width: 1180px) {
  .wider .grid {
    max-width: 1180px;
    margin: 0 auto;
  }
}
