/*NAV BAR*/
.container#navheader {
  width: 100%;
}

.navbar-fixed-top#nav {
  height: 10px;
}

.navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: Lato;
  background-color: #000;
  opacity: 0.8;
}

#title:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 20px;
  color: #000;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #000;
  font-family: Lato;
}

.navbar-custom .nav li a {
  font-family: Lato;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: 0;
}

.light {
  font-weight: 200;
}

/*Responsive Nav*/
@media(min-width:768px) {
  .navbar-custom {
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    opacity: 0.8;
    -webkit-transition: background .3s ease-in-out,padding .3s ease-in-out;
    -moz-transition: background .3s ease-in-out,padding .3s ease-in-out;
    transition: background .3s ease-in-out,padding .3s ease-in-out;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background: #fff;
    opacity: 0.8;
  }
}

@media screen and (max-width:768px) {
  div.navbar-header {
    background-color: #fff;
    margin-bottom: -1px;
  }

  .navbar-brand#title {
    font-size: 15px;
    margin: 0;
  }

  .navbar-nav {
    background-color: #fff;
    margin-top: 0;
  }

}

@media screen and (max-width:370px) {
  .navbar-brand#title {
    font-size: 13px;
    line-height: 2em;
    margin: 0;
  }
}
