<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="" ng-click="openShow()" class="showreel-button closeIn">
              Showreel
            </a>
        </div>
    </div>
</div>
