<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <!-- Link to showreel here -->
            <a ng-click="openShow()" class="btn btn-circle">
              <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>
    </div>
</div>
