<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" id="nav" role="navigation">
  <div class="container" id="navheader">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <span class="light">Edward St Paul |</span>
        Cinematographer
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#projects">Projects</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <%= render 'intro' %>
        </div>
        <div class="item">
          <%= render 'intro' %>
        </div>
        <div class="item">
          <%= render 'intro' %>
        </div>
        <div class="item">
          <%= render 'intro' %>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Projects Section -->
<section id="projects" class="container content-section">
  <h1 id="project-header">Projects</h1>
  <div class="projects-container" id="sort">
    <a href="" data-filter="*" class="current">all</a>
    <i class="fa fa-ellipsis-v"></i>
    <a href="" data-filter=".music">music videos</a>
    <i class="fa fa-ellipsis-v"></i>
    <a href="" data-filter=".features">features/shorts</a>
    <i class="fa fa-ellipsis-v"></i>
    <a href="" data-filter=".commercials">commercials</a>
  </div>

  <div class="w3-row">
    <div class="w3-col m3 w3-white image-hover img-zoom-in img-sharp-blur music">
      <li>
        <img id ="Samson-VVBROWN" src="images/VVB1.jpg" style="width:100%"></img>
        <div class="caption">
          <div class="caption-text" ng-click=open1()>
            <h2>VV <span>BROWN</span></h2>
            <hr width="70%">
            <br>
            <p>Samson</p>
          </div>
        </div>
      </li>
    </div>
    <div class="w3-col m3 w3-white image-hover img-zoom-in img-sharp-blur music">
      <li>
        <img id="Tides-AUDIOSHOCK" src="images/AS1.jpg" style="width:100%"></img>
        <div class="caption">
          <div class="caption-text" ng-click=open2()>
            <h2>AUDIOSHOCK<span></span></h2>
            <hr width="70%">
            <br>
            <p>Tides</p>
          </div>
        </div>
      </li>
    </div>
    <div class="w3-col m3 w3-white image-hover img-zoom-in img-sharp-blur music">
      <li>
        <img id="Titan-BRETON" src="images/Breton1.jpg" style="width:100%"></img>
        <div class="caption">
          <div class="caption-text" ng-click=open3()>
            <h2>BRETON<span></span></h2>
            <hr width="70%">
            <br>
            <p>Titan</p>
          </div>
        </div>
      </li>
    </div>
    <div class="w3-col m3 w3-white image-hover img-zoom-in img-sharp-blur music">
      <li>
        <img id="IHaven'tThoughtAboutYouYet-FLAUNT" src="images/Flaunt1.jpg" style="width:100%"></img>
        <div class="caption">
          <div class="caption-text" ng-click=open4()>
            <h2>FLAUNT<span></span></h2>
            <hr width="70%">
            <br>
            <p>I Haven't Thought About You Yet</p>
          </div>
        </div>
      </li>
    </div>
    <div class="w3-col m3 w3-white image-hover img-zoom-in img-sharp-blur features">
      <li>
        <img id="FadeToGray-GRACESEES" src="images/GSees1.jpg" style="width:100%"></img>
        <div class="caption">
          <div class="caption-text" ng-click=open5()>
            <h2>GRACE <span>SEES</span></h2>
            <hr width="70%">
            <br>
            <p>Fade To Gray</p>
          </div>
        </div>
      </li>
    </div>
    <div class="w3-col m3 w3-white image-hover img-zoom-in img-sharp-blur commercials">
      <li>
        <img id="Afterthoughts-GRAYWIND" src="images/GW1.jpg" style="width:100%"></img>
        <div class="caption">
          <div class="caption-text" ng-click=open6()>
            <h2>GRAYWIND<span></span></h2>
            <hr width="70%">
            <br>
            <p>Afterthoughts</p>
          </div>
        </div>
      </li>
    </div>
    <div class="w3-col m3 w3-white image-hover img-zoom-in img-sharp-blur music">
      <li>
        <img id="StudioGames-MARVINLIVE" src="images/MLive1.jpg" style="width:100%"></img>
        <div class="caption">
          <div class="caption-text" ng-click=open7()>
            <h2>MARVIN <span>LIVE</span></h2>
            <hr width="70%">
            <br>
            <p>Studio Games</p>
          </div>
        </div>
      </li>
    </div>
    <div class="w3-col m3 w3-white image-hover img-zoom-in img-sharp-blur music">
      <li>
        <img id="Stereo-TENTERHOOK" src="images/THook1.jpg" style="width:100%"></img>
        <div class="caption">
          <div class="caption-text" ng-click=open8()>
            <h2>TENTERHOOK<span></span></h2>
            <hr width="70%">
            <br>
            <p>Stereo</p>
          </div>
        </div>
      </li>
    </div>
    <div class="w3-col m3 w3-white image-hover img-zoom-in img-sharp-blur music">
      <li>
        <img id="ParthianShot-BRETON" src="images/Breton-P1.jpg" style="width:100%"></img>
        <div class="caption">
          <div class="caption-text" ng-click=open9()>
            <h2>BRETON<span></span></h2>
            <hr width="70%">
            <br>
            <p>Parthian Shot</p>
          </div>
        </div>
      </li>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Contact</h1>

      <p><a href="mailto:edwardstpaul@gmail.com">edwardstpaul@gmail.com</a>
      </p>

      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="" class="btn btn-default btn-lg"><i class="fa fa-facebook-square fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
        <li>
          <a href="" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
        </li>
        <li>
          <a href="" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square fa-fw"></i> <span class="network-name">LinkedIn</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; Edward St Paul 2015</p>
  </div>
</footer>

<!-- Video Templates -->
<script type="text/ng-template" id="showreel">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/d1W9RHIp-hc?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0"></iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m1">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/d1W9RHIp-hc?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m2">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/wgBamODPyDM?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m3">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/oNb-xALxkco?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m3">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/7p1JF0JSi-E?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m5">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/d3hsPjdzwSU?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m6">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/tjfodBV7ELI?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m7">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/UUWHQwbrvUc?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m8">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/JHCto978ogw?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m9">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/50jSHnZWo5g?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m10">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/d3hsPjdzwSU?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m11">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/d3hsPjdzwSU?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<script type="text/ng-template" id="m12">
  <div class="dialog-content-header">
    <h2>Showreel<span></span></h2>
    <hr>
  </div>
  <div class="dialog-content-body">
    <div class="video-box">
      <iframe width="1000" height="460"
      src="//www.youtube.com/embed/d3hsPjdzwSU?autoplay=1&showinfo=0" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
      frameBorder="0">
      </iframe>
    </div>
    <div class="video-text">
      <p>
        A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
      </p>
    </div>
  </div>
</script>

<!-- <div class="dialog-content-header">
  <h2>Showreel<span></span></h2>
  <hr>
</div>
<div class="dialog-content-body">

  <div class="video-text">
    <p>
      A cinematography graduate of the NFTS, David has a passion for visual story telling that has the capacity to affect and move audiences. Rather than injecting a predetermined style onto a film, he adapts his visual aesthetic to support each story and the director’s vision of it. The films he has shot often deal with weighty social issues, and have been exhibited internationally. David enjoys working collaboratively across a range of formats, from narrative to music video and commercial content.
    </p>
  </div>
</div> -->
