/*Video Templates(ngDialog)*/
.dialog-content-header {
	border-bottom: 1px solid #ccc;
}

.dialog-content-header h2 {
	color: #fff;
	opacity: 0.6;
  text-align: center;
	font-weight: 200;
  font-size: 22px;
	font-family: Lato;
}

.dialog-content-header span {
	font-weight: bold;
}

.dialog-content-body {
	width: 100%;
}

.dialog-content-body .video-box {
	height: 100%;
  width: 100%;
  position: relative;
  float: left;
}

.dialog-content-body iframe {
	height: 400px;
  width: 100%;
	top: 0;
	left: 0;
  position: relative;
  float: left;
}

.dialog-content-body .video-text {
	height: 100%;
  width: 100%;
  position: relative;
  margin-top: 5%;
  float: left;
	font-family: Lato;
}

.dialog-content-body p {
	color: #fff;
	opacity: 0.6;
	font-size: 16px;
	text-align: left;
}


/*.video-box {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.video-box iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}*/
